@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

body {
  font-family: 'Poppins', 'sans-serif';
  color: #0D0D0D;
  background-color: #F9F8F8;
}

h1 {
  font-family: 'Yeseva One';
  font-size: 50px;
}

h2 {
  font-family: 'Yeseva One';
  font-size: 50px;
  color: #FEB428;
}

h3 {
  font-family: 'Poppins', 'sans-serif';
  color: #FEB428;
  font-weight: 700;
  font-size: 25px;
}