@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

body {
  font-family: 'Poppins', 'sans-serif';
  color: '#0D0D0D';
}

main {
  padding-inline: 64px;
}

h1 {
  font-family: 'Yeseva One';
  font-size: 50px;
}

h2 {
  font-family: 'Yeseva One';
  font-size: 50px;
  color: '#FEB428';
}